<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Rails Budget</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
      <div class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, 'data-turbo-method': :delete, class: "btn btn-outline-danger me-3" %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-light me-3" %>
          <%= link_to "Login", new_user_session_path, class: "btn btn-light" %>
        <% end %>
      </div>
    </div>
  </div>
</nav>