<section class="d-flex flex-column gap-5 mt-5">
  <h1 class="text-center">Expense Tracker</h1>
  <div class="d-flex flex-column align-items-center gap-3">
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
  </div>
</section>